.splashHero {
  background-image:
    linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../assets/header-hero.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.heroText {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.heroText h1 {
  font-size: 59px;
  padding-top: 60px;
}
p {
  margin-left: 25%;
  margin-right: 25%;
  color: palevioletred;
}
.courseSection {
  text-align: center;
  margin-top: 4%;
  color: #fff;
  font-size: 30px;
}
.courseSection h2 {
  font-size: 35px;
  margin-bottom: 10px;
}
.courseContainer {
  display: flex;
  justify-content: center;
  gap: 15%;
  align-items: center;
}
ul {
  list-style: none;
  color: palevioletred;
  text-align: left;
}
.startedContainer {
  color: #fff;
  justify-content: center;
  text-align: center;
  margin-top: 2%;
}
.splash-btn.MuiButton-contained {
  padding: 13px 25px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 2px;
  margin-top: 3%;
  text-decoration: none;
  color: palevioletred;
  letter-spacing: 1px;
}
.splash-btn.MuiButton-contained:hover {
  background-color: rgb(9, 87, 87);
  transition: 0.8s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  transform: translateY(-2px);
}
/* --------------MEDIA QUERY---------------- */
@media (max-width: 480px) {
  .heroText h1 {
    font-size: 40px;
  }
  .courseContainer {
    flex-direction: column;
    font-size: 25px;
  }
  .startedContainer {
    margin-top: 15px;
    font-size: 12px;
  }
}
